/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .heroText {
  	font-size: 24px;
  	line-height: 32px;
  }

  .promoteNowText {
  	font-size: 32px;
  }

  .subtext {
	font-size: 16px;
   }

   .heroSection {
   	height: 300px;
   }

   .space40 {
   	height: 10px;
   }

   .spotCard1 {
   	min-height: 380px;
   }

   .heading1 {
   	font-size: 24px;
   }

   .heading2 {
   	font-size: 28px;
   	line-height: 32px;
   }

   .space10 {
   	display: block;
   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .heroText {
  	font-size: 28px;
  	line-height: 32px;
  }

  .spotCard1 {
   	min-height: 380px;
   }

   .space10 {
   	display: block;
   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.heroText {
		font-size: 48px;
		line-height: 65px;
	}

  .promoteNowText {
		font-size: 50px;
		line-height: 65px;
	}

	.spotCard1 {
   	min-height: 790px;
   }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.heroText {
		font-size: 48px;
		line-height: 65px;
	}
    .promoteNowText {
		font-size: 50px;
		line-height: 65px;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.heroText {
		font-size: 48px;
		line-height: 65px;
	}
	.promoteNowText {
		font-size: 50px;
		line-height: 65px;
	}
}