/*@font-face {
	font-family: "TT Commons";
	src: url("../fonts/TTCommons-Regular.ttf") format("ttf");
}*/

@font-face {
  font-family: 'TT Commons';
  src: url('fonts/TTCommons-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/TTCommons-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/TTCommons-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/TTCommons-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/TTCommons-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */ /* Legacy iOS */
}

body {
	font-family: 'TT Commons', Arial, sans-serif;
	overflow-x: hidden !important;
}

* {
	margin: 0;
}


.heroSection {
	height: 370px;
	/*background: #191414;*/
	background: #1E3264;
	/*background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero-bg3.jpg);*/
	/*background: linear-gradient(0deg, rgba(30, 215, 98, 0.7), rgba(0, 0, 0, 0.9)), url(../img/banner.jpg);*/
  	background-size: cover;
  	background-position: center;
  	overflow-x: hidden !important;
}

.heroText {
	color: #fff;
	font-size: 48px;
	line-height: 65px;
	font-weight: 600;
}

.logo {
	width: 152px;
}

.horizontalRule {
	color: #fff !important;
}

.heroSection .content {
	.margin-top: 10px;
}

.heroSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
}

.subtext {
	color: #fff;
	font-size: 24px;
	text-align: center;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: #fff;
}

.nav-link {
	color: #fff;
} 

.nav-link:hover {
	color: #fff;
	opacity: 0.7;
}

.promoteNowText {
	color: #1E3264;
	font-size: 50px;
	line-height: 65px;
	font-weight: 600;
	text-align: center;
}

.serviceCard {
	/*width: 342px;*/
	min-width: 100%;
	min-height: 400px;
	padding: 38px;
	background-color: #F5F5F5;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
}

.priceAvatar {
	min-width: 200px;
	min-height: 200px;
	padding: 20px;
	background-color: #1ED761;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 24px;
	line-height: 30px;
}

.serviceCard .title {
	margin-top: 20px;
	font-size: 33px;
	font-weight: 600;
	color: #191414;
	text-align: center;
}

.serviceCard .list {
	text-align: center;
}

.space40 {
	height: 40px;
}


.ml4 {
  position: relative;
  font-weight: 600;
  font-size: 2.5em;
}
.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0; 
}

.white {
	color: #fff;
}

.slogan {
	font-size: 24px;
	text-align: center;
	color: #1ED761;
}

.spotlight {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #F7F7F7;
	margin-top: 40px;
}

.spotCard {
	min-height: 380px;
	background-color: #1E3264;
	margin-bottom: 30px;
}

.spotCard1 {
	min-height: 790px;
	background-color: #1E3264;
	margin-bottom: 30px;
	background: linear-gradient(0deg, rgba(193, 195, 198, 0.5), rgba(193, 195, 198, 0.5)), url(../img/artists/kell.jpg);
  	background-size: cover;
  	background-position: center;
}

.moreServiceCard {
	min-width: 100%;
	min-height: 400px;
	padding: 38px;
	background-color: #1E3264;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	text-align: center;
}

.more {
	color: #fff;
	font-weight: 600;
	font-size: 32px;
	text-decoration: underline;
}

.more:hover {
	opacity: 0.8;
	color: #fff;
	text-align: center;
}

.green {
	background-color: #19E68D;
}

.grey {
	background-color: #C1C3C6;
}

.footer {
	padding-top: 20px;
	padding-bottom: 40px;
	background-color: #000;
	color: #fff;
}

.footer nav a {
	display: block;
	margin-top: 20px;
	font-size: 17px;
	color: #fff;
}

.footer-margin {
	margin-bottom: 40px;
}

.footerHeaders {
	color: #919496;
	font-size: 17px;
}

.bottomFooter {
	font-size: 14px;
	color: #919496;
}

.bottomFooter a {
	display: inline-block;
	color: #919496;
}

.heading1 {
	font-size: 30px;
	color: #1E3264;
}

.heading2 {
	font-size: 48px;
	color: #1E3264;
	font-weight: 600;
	line-height: 65px;
}

.hbody {
	font-size: 18px;
	color: #191414;
}

.apply {
	color: #fff;
	background-color: #1E3264;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 40px;
	border-radius: 50px;
}















/*live orders notification*/
.custom-social-proof {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 2;
}
.custom-social-proof .custom-notification {
  max-width: 230px;
  border: 0;
  text-align: left;
  z-index: 99999;
  box-sizing: border-box;
  font-weight: 400;
  border-radius: 6px;
  box-shadow: 2px 2px 10px 2px rgba(11, 10, 10, 0.2);
  background-color: #fff;
  position: relative;
  cursor: pointer;
}
.custom-social-proof .custom-notification .custom-notification-container {
  display: flex !important;
  align-items: center;
  height: 80px;
}
.custom-social-proof .custom-notification .custom-notification-container .custom-notification-image-wrapper img {
  max-height: 75px;
  width: 90px;
  overflow: hidden;
  border-radius: 6px 0 0 6px;
  object-fit: cover;
}
.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper {
  margin: 0;
  height: 100%;
  color: gray;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0 6px 6px 0;
  flex: 1;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper .custom-notification-content {
  font-family: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 14px;
  line-height: 16px;
}
.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper .custom-notification-content small {
  margin-top: 3px !important;
  display: block !important;
  font-size: 12px !important;
  opacity: 0.8;
}
.custom-social-proof .custom-notification .custom-close {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 12px;
  width: 12px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  transform: rotate(45deg);
  opacity: 0;
}
.custom-social-proof .custom-notification .custom-close::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: gray;
  position: absolute;
  left: 0;
  top: 5px;
}
.custom-social-proof .custom-notification .custom-close::after {
  content: "";
  display: block;
  height: 100%;
  width: 2px;
  background-color: gray;
  position: absolute;
  left: 5px;
  top: 0;
}
.custom-social-proof .custom-notification:hover .custom-close {
  opacity: 1;
}
.imagePadding {
	padding-left: 10px;
}



#chat-application {
	z-index: 9999999999999 !important;
}



